body {
    background-color: black;
    color: bisque;
}

#gameContainer {
    width: 100%;
}

#gameCanvas {
    margin: 0 auto;
    width: 1280px;
    display: block;
    background-color: black;
}

#gameConsole {
    border-style: outset;
    border-color: red;
    background-color: red;
    padding: 10px;
    width: 100%;
}

#gameConsole > .output {
    height: 10em;
    width: 100%;
    padding: 5px;
    border: 1px solid grey;
    overflow: scroll;
    background-color: black;
}